In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

df = pd.read_csv("result_df.csv")

2024-11-02 11:59:41.228126: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-11-02 11:59:41.274448: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI AVX512_BF16 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-11-02 11:59:42.159934: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

,Unnamed: 0,Ab,At,Atau,BF_A_other,BF_A_to_W_W,BF_A_to_Z_Z,BF_A_to_Z_gam,BF_A_to_Z_h,BF_A_to_b_b,...,m_stau,delta_m_tau_1_m_chi_10,xsec_20_1pm,WIMP_proton_SD,WIMP_neutron_SD,WIMP_proton_SI,WIMP_neutron_SI,WIMP_nucleon_SI,MO_nucleon_SI,Scan
0,396,-1581.2046,5034.5103,719.16050,2.072998e-01,0.0,1.070234e-12,7.986194e-08,2.497455e-07,0.602567,...,599.0884,438.13263,0.000112,4.600000e-44,3.500000e-44,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1,434,1461.1858,2058.9720,818.20764,4.443416e-01,0.0,0.000000e+00,1.458028e-07,1.546806e-06,0.307779,...,953.9468,800.49570,0.001287,2.100000e-43,1.510000e-43,0.000000e+00,0.000000e+00,0.000000e+00,1.400233e-45,NaN
2,540,-979.0141,6776.0880,-1763.07200,2.552410e-01,0.0,1.859783e-12,5.339157e-08,2.398778e-07,0.554653,...,728.6760,649.95074,0.000467,3.500000e-44,3.500000e-44,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
3,590,912.3372,5424.0510,288.42050,9.337961e-07,0.0,0.000000e+00,2.316593e-06,3.010918e-06,0.885960,...,1592.6859,1466.04720,0.192900,1.242500e-41,9.505000e-42,1.100000e-44,1.100000e-44,1.120187e-44,9.214939e-43,NaN
4,1096,688.2925,6754.6416,608.70440,1.944671e-01,0.0,5.348022e-12,8.227918e-08,1.386016e-07,0.586056,...,552.0041,277.64180,0.000011,3.620000e-43,2.690000e-43,0.000000e+00,0.000000e+00,0.000000e+00,1.400233e-45,NaN

In [ ]:
def drop_zero_columns(df):
    # Removes all columns from a DataFrame where every value is zero.
    
    # Get columns where all values are zero
    zero_cols = df.columns[(df == 0).all()]
    
    # Drop those columns and return
    return df.drop(columns=zero_cols)

,Unnamed: 0,Ab,At,Atau,BF_A_other,BF_A_to_Z_Z,BF_A_to_Z_gam,BF_A_to_Z_h,BF_A_to_b_b,BF_A_to_c_c,...,m_stau,delta_m_tau_1_m_chi_10,xsec_20_1pm,WIMP_proton_SD,WIMP_neutron_SD,WIMP_proton_SI,WIMP_neutron_SI,WIMP_nucleon_SI,MO_nucleon_SI,Scan
0,396,-1581.2046,5034.5103,719.16050,2.072998e-01,1.070234e-12,7.986194e-08,2.497455e-07,0.602567,7.081913e-09,...,599.0884,438.13263,0.000112,4.600000e-44,3.500000e-44,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1,434,1461.1858,2058.9720,818.20764,4.443416e-01,0.000000e+00,1.458028e-07,1.546806e-06,0.307779,4.546914e-08,...,953.9468,800.49570,0.001287,2.100000e-43,1.510000e-43,0.000000e+00,0.000000e+00,0.000000e+00,1.400233e-45,NaN
2,540,-979.0141,6776.0880,-1763.07200,2.552410e-01,1.859783e-12,5.339157e-08,2.398778e-07,0.554653,7.587259e-09,...,728.6760,649.95074,0.000467,3.500000e-44,3.500000e-44,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
3,590,912.3372,5424.0510,288.42050,9.337961e-07,0.000000e+00,2.316593e-06,3.010918e-06,0.885960,1.233318e-07,...,1592.6859,1466.04720,0.192900,1.242500e-41,9.505000e-42,1.100000e-44,1.100000e-44,1.120187e-44,9.214939e-43,NaN
4,1096,688.2925,6754.6416,608.70440,1.944671e-01,5.348022e-12,8.227918e-08,1.386016e-07,0.586056,2.670669e-09,...,552.0041,277.64180,0.000011,3.620000e-43,2.690000e-43,0.000000e+00,0.000000e+00,0.000000e+00,1.400233e-45,NaN

In [19]:
df = drop_zero_columns(df)
df.head()

,Unnamed: 0,Ab,At,Atau,BF_A_other,BF_A_to_Z_Z,BF_A_to_Z_gam,BF_A_to_Z_h,BF_A_to_b_b,BF_A_to_c_c,...,m_stau,delta_m_tau_1_m_chi_10,xsec_20_1pm,WIMP_proton_SD,WIMP_neutron_SD,WIMP_proton_SI,WIMP_neutron_SI,WIMP_nucleon_SI,MO_nucleon_SI,Scan
0,396,-1581.2046,5034.5103,719.16050,2.072998e-01,1.070234e-12,7.986194e-08,2.497455e-07,0.602567,7.081913e-09,...,599.0884,438.13263,0.000112,4.600000e-44,3.500000e-44,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
1,434,1461.1858,2058.9720,818.20764,4.443416e-01,0.000000e+00,1.458028e-07,1.546806e-06,0.307779,4.546914e-08,...,953.9468,800.49570,0.001287,2.100000e-43,1.510000e-43,0.000000e+00,0.000000e+00,0.000000e+00,1.400233e-45,NaN
2,540,-979.0141,6776.0880,-1763.07200,2.552410e-01,1.859783e-12,5.339157e-08,2.398778e-07,0.554653,7.587259e-09,...,728.6760,649.95074,0.000467,3.500000e-44,3.500000e-44,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
3,590,912.3372,5424.0510,288.42050,9.337961e-07,0.000000e+00,2.316593e-06,3.010918e-06,0.885960,1.233318e-07,...,1592.6859,1466.04720,0.192900,1.242500e-41,9.505000e-42,1.100000e-44,1.100000e-44,1.120187e-44,9.214939e-43,NaN
4,1096,688.2925,6754.6416,608.70440,1.944671e-01,5.348022e-12,8.227918e-08,1.386016e-07,0.586056,2.670669e-09,...,552.0041,277.64180,0.000011,3.620000e-43,2.690000e-43,0.000000e+00,0.000000e+00,0.000000e+00,1.400233e-45,NaN