Thoughts and notes:

The output will be dark matter relic density, which is best understood on a log scale. Hence the loss function should be mean_squared_logarithmic_error rather than regular mean squared error (mse).

Should split data set into about 70% training, 15% validation, and 15% test data.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

df = pd.read_csv("result_df.csv")

In [ ]:
def drop_zero_columns(df):
    # Removes all columns from a DataFrame where every value is zero.
    
    # Get columns where all values are zero
    zero_cols = df.columns[(df == 0).all(axis=0)]
    
    # Drop those columns and return
    return zero_cols, df.drop(columns=zero_cols)

In [34]:
col_names, dropped_df = drop_zero_columns(df)
col_names.values

array(['BF_A_to_W_W', 'BF_H_to_Z_h', 'BF_Hp_to_c_b', 'BF_Hp_to_c_s',
       'BF_Hp_to_d_b', 'BF_Hp_to_d_s', 'BF_Hp_to_mu_nu_mu',
       'BF_Hp_to_t_b', 'BF_Hp_to_tau_nu_tau', 'BF_b_1_to_chi_10',
       'BF_b_1_to_chi_1p', 'BF_b_1_to_e_L', 'BF_b_1_to_gl',
       'BF_b_1_to_mu_L', 'BF_b_1_to_nu_e_L', 'BF_b_1_to_nu_mu_L',
       'BF_b_1_to_nu_tau_1', 'BF_b_1_to_tau_1', 'BF_b_2_to_chi_10',
       'BF_b_2_to_chi_1p', 'BF_b_2_to_gl', 'BF_chi_10_other',
       'BF_chi_10_to_e_L', 'BF_chi_10_to_e_R', 'BF_chi_10_to_gravitino_Z',
       'BF_chi_10_to_gravitino_gam', 'BF_chi_10_to_gravitino_h',
       'BF_chi_10_to_mu_L', 'BF_chi_10_to_mu_R', 'BF_chi_10_to_nu_e_L',
       'BF_chi_10_to_nu_mu_L', 'BF_chi_10_to_nu_tau_1',
       'BF_chi_10_to_tau_1', 'BF_chi_10_to_tau_2', 'BF_chi_1p_to_chi_30',
       'BF_chi_20_to_chi_1p_ele_nu_ele', 'BF_chi_20_to_chi_1p_mu_nu_mu',
       'BF_chi_20_to_chi_1p_tau_nu_tau', 'BF_chi_20_to_chi_2p',
       'BF_chi_20_to_chi_2p_W', 'BF_chi_30_to_chi_2p',
       'BF_chi_30_to_chi_2p_W', 'BF_d_L_other', 'BF_d_R_other',
       'BF_d_R_to_chi_1p', 'BF_d_R_to_chi_2p', 'BF_gl_to_c_L',
       'BF_gl_to_c_R', 'BF_gl_to_d_L', 'BF_gl_to_d_R', 'BF_gl_to_nu_e_L',
       'BF_gl_to_nu_mu_L', 'BF_gl_to_nu_tau_1', 'BF_gl_to_s_L',
       'BF_gl_to_s_R', 'BF_gl_to_u_L', 'BF_gl_to_u_R', 'BF_t_1_other',
       'BF_t_1_to_chi_10', 'BF_t_1_to_chi_10_b', 'BF_t_1_to_chi_1p',
       'BF_t_1_to_e_L', 'BF_t_1_to_gl', 'BF_t_1_to_mu_L',
       'BF_t_1_to_nu_e_L', 'BF_t_1_to_nu_mu_L', 'BF_t_1_to_nu_tau_1',
       'BF_t_1_to_tau_1', 'BF_t_2_to_chi_10', 'BF_t_2_to_chi_1p',
       'BF_t_2_to_gl', 'BF_u_L_other', 'BF_u_R_other', 'BF_u_R_to_chi_1p',
       'BF_u_R_to_chi_2p', 'BR_mu_to_3e', 'BR_mu_to_egamma',
       'BR_tau_to_3e', 'BR_tau_to_3mu', 'BR_tau_to_egamma',
       'BR_tau_to_mugamma', 'Cross_section_sb', 'Cross_section_sg',
       'Cross_section_ss', 'LO_sb', 'LO_sg', 'LO_ss', 'NLO_bb1',
       'NLO_bb2', 'NLO_ll0', 'NLO_ll1', 'NLO_ll10', 'NLO_ll11',
       'NLO_ll12', 'NLO_ll13', 'NLO_ll14', 'NLO_ll16', 'NLO_ll17',
       'NLO_ll18', 'NLO_ll19', 'NLO_ll2', 'NLO_ll20', 'NLO_ll3',
       'NLO_ll4', 'NLO_ll5', 'NLO_ll6', 'NLO_ll7', 'NLO_ll8', 'NLO_ll9',
       'NLO_ng1', 'NLO_ng2', 'NLO_ng3', 'NLO_ng4', 'NLO_ng5', 'NLO_ng6',
       'NLO_ng7', 'NLO_ng8', 'NLO_ns1', 'NLO_ns2', 'NLO_ns3', 'NLO_ns4',
       'NLO_ns5', 'NLO_ns6', 'NLO_ns7', 'NLO_ns8', 'NLO_sb', 'NLO_sg',
       'NLO_ss', 'NLO_tb1', 'NLO_tb2', 'value_A0', 'w_chi_10'],
      dtype=object)

In [26]:
data = {"A": [0,0,0],
        "B": [0,1,2],
        "C": [0,0,1]}

test = pd.DataFrame(data=data)
col_names, dropped = drop_zero_columns(test)

print(col_names.values)

['A']

In [23]:
dropped.head()

   B  C
0  0  0
1  1  0
2  2  1